/*styles go here*/


p {
  color: #666666;
  font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
}

  .bold { font-weight: 700; }
  .italic { font-style: italic; }

h1 {
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
  padding-left: 1.25em;
}

.header {
    background: #ffebed;
    padding: 2px;
}

#container {
  width: 95%;
  margin: 0 auto;
}

#container2 {
  width: 95%;
  margin: 0 auto;
  background-color: #26496c;
}
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;}


.navigation {
  padding: 0;
  list-style-type: none;
}


.navigation li{
  margin: 0;
  padding: 0;
}

.navigation a:link, .navigation a:visited {
  color: #ffffff;
  background-color: #26496c;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "Century Gothic", Arial, sans-serif;
  padding: 4px;}

 .navigation a:hover, #nav a:active {
   background-color: #4b749f;}

.navigation {
 	display: flex;
 	flex-flow: column;}

.navigation a {
    text-align:center;
    padding: 10px;}


 .caption {
   color: black;
   font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
   font-style: italic;
   font-size: 0.8em;
   margin-top: 0;
   text-align: right;
 }

#footer {
  color: black;
  font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}

img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;}

.wrapper {
	display: flex;
  flex-flow: row wrap;}

  header, article, footer {
        flex: 1 100%;
        padding: 10px; }

@media (min-width:500px) {

      .navigation {
        flex-flow: row wrap;
                justify-content: space-around;}

      .navigation a {
        border: none;}

      .navigation {
        width: 95%;}

      article {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas:
          "a c c"
          "b c c";}

      footer {
          order: 4;}


      .image {
          width: 100%;
          margin-right: 10px;
          grid-area: a;}

      .image2 {
          width: 100%;
          margin-right: 10px;
          grid-area: b;}

                /* .image3 {
                      width: 60%;
                      margin-right: 10px;
                      grid-area: b;} */

      .story {
          width: 90%;
          grid-area: c;}

      .first {
          margin-top: 0;}
    }

@media (min-width:1000px) {

  .navigation {
        flex-flow: row wrap;
        justify-content: space-around;}

  .navigation a {
        border: none;}

  .navigation {
  width: 95%;}

  article {
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "a c c"
      "a b b";}

  footer {
        order: 4;}


  .image {
        width: 100%;
        margin-right: 10px;
        grid-area: a;}

  .image2 {

        width: 70%;
        margin-right: 10px;
        grid-area: b;}

  /* .image3 {
        width: 60%;
        margin-right: 10px;
        grid-area: b;} */

  .story {
        width: 70%;
        grid-area: c;}

  .first {
        margin-top: 0;}
      }
